@import "../../../variables.scss";
.list-container{
	padding:0.5rem 0;
}

.list-row{
	display:flex;
	align-items:center;
	background-color: $gray;
	padding:0.5rem;
	border-radius:3px;
	margin-bottom:0.5rem;
}
.title{
	flex:1 0 auto;
	a {
		color:$black;
		text-decoration: none;
	}
}
.spinner-container{
	display:flex;
	justify-content: center;
}