<layout-frame>
    <div class="actions-container">
        <div class="list-container">
            <div class="list-row" *ngFor="let magazine of magazines">
                <div class="title">
					<a>{{magazine.name}}</a>
				</div>
                <div class="actions">
                    <link-button [path]="['/magazine',magazine.id,'edit']">
                        <app-icon icon="edit"></app-icon>
                    </link-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="bLoading" class="spinner-container">
        <app-loading-spinner></app-loading-spinner>
    </div>
</layout-frame>