/* You can add global styles to this file, and also import other style files */
@import "~/node_modules/simplemde/dist/simplemde.min";
*{
	font-size:inherit;
	box-sizing: inherit;
}
html{
	font-size:10px;
	box-sizing:border-box;
}

body{
	margin:0;
	font-size:16px;
}
ul{
	margin:0;
}