@import "../../../variables.scss";

label{
    display:block;
}
.checkbox-element{
    display:none;
}
.checkbox-container{
    width:40px;
    height:22px;
    border:1px solid $gray;
    border-radius:11px;
    position:relative;
    display:inline-block;
    transition:background-color 0.5s ease;
    .checkbox-element:checked + &{
        background-color:$green;
    }
}
.checkbox-bullet{
    width:20px;
    height:20px;
    border-radius:50%;
    border:1px solid $gray;
    position:absolute;
    top:0;
    left:0;
    transition:left 0.5s ease;
    background-color:$white;
    .checkbox-element:checked + .checkbox-container &{
        left:calc(100% - 20px);
    }
}
